# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
numpy>=1.24.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.0+cpu